*.aux
*.out
*.log
*.blg
*.lot
*.lof
*.toc
*.DS_Store

*.ipynb_checkpoints

*.bbl
*.bcf
*.xml
*.synctex.*

*.acn
*.acr
*.alg
*.glg
*.glo
*.gls
*.ist

__tmp
thesis.sublime-project
thesis.sublime-workspace
main.fls
main.fdb_latexmk
.vscode/settings.json
tag.tex
corrections/*
